
//variables
$rn-orange: #ff6c0e;
$rn-burnt-orange: #c2520b;
$white: #ffffff;
$rn-navy-blue: #27284D;
$sky-blue: #80fff6;
$gray: #757575;

$title-font: "neue-haas-grotesk-display", serif;
$body-font: "neue-haas-grotesk-text", serif;

//css reset
*,
*::before,
*::after { box-sizing:border-box; }
* {position:relative;margin:0;padding:0;border:0;;font:inherit;}
body {min-height: 100dvh;}
h1, h2, h3, h4 { text-wrap: balance; margin:0; font-size:inherit; font-weight:inherit;}
p { text-wrap: pretty; margin:0;}
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }
html { font-size:16px; }

//testing
// * {outline:1px dotted $rn-orange;}

//style
body {
    font-family:$body-font;
    #root {
        min-height: 100dvh;

        header.header {
            height:5rem;            
            position:relative;
            z-index:100;
            nav {
                height:5rem; 
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content: space-between;
                width:100%;
                position:fixed;
                top:0;
                padding: 0.5rem;
                background-color: $rn-orange;
                color:$white;
                font-weight:bold;
                z-index:100;
                box-shadow: 0 0 0.25rem #0B0C337D;
                #headerLogo {
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    img {
                        height:2rem;
                    }
                }
                ul {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width:100%;
                    li {
                        a {
                            color:rgba($white, 0.8);
                            transition:0.2s;
                            font-size:0.9rem;
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }
            }
            @media screen and (min-width: 576px) {
                height:5rem;  
                nav {
                    height:5rem;
                    flex-direction:row;
                    #headerLogo {
                        img {
                            height:3.5rem;
                        }
                    }
                    ul {
                        width:75%;
                        justify-content: end;
                        li {
                            margin:0 0 0 5%;
                            a {
                                font-size:1rem;
                            }
                        }
                    }
                }
            }
        }

        main {
            min-height: calc(100dvh - 4rem);
            padding: 4rem 5%;
            max-width:60rem;
            margin:auto;
            h1 {font-size:2.5rem;font-weight:900;font-family:$title-font;}
            h2 {font-size:1.5rem;font-weight:700;font-family:$title-font;color:$rn-navy-blue;}
            h3 {font-size:1.2rem;font-weight:700;font-family:$title-font;color:$gray;}
            h4 {font-size:1.0rem;font-weight:500;font-family:$title-font;color:$rn-navy-blue;}
            h5 {font-size:1.0rem;font-weight:500;font-family:$title-font;color:$gray;}
            p {margin:1rem 0;line-height:1.6em;}
            &.home {
                padding:0;
                max-width:unset;
                section {
                    background:white;
                    h2 {
                        font-size:2.5rem;
                        color:$rn-navy-blue;
                        margin:1rem 0 2rem;
                        border-bottom:0.25rem solid $rn-orange;
                        text-align:center;
                    }
                    &:nth-of-type(2n) {
                        background:$rn-navy-blue;
                        h2 {
                            color:$white;
                        } 
                    } 
                    min-height:75dvh;
                    padding:2rem;
                    display:flex;
                    align-items:center;
                    flex-direction: column;
                    justify-content:center;
                    &.video-header {
                        position:relative;
                        width:100%;
                        overflow:hidden;
                        background:$rn-navy-blue;
                        height:100dvh;
                        max-height:40rem;
                        #backgroundVideo {
                            height:100%;
                            width: 100%;
                            object-fit: cover;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            z-index: 1;
                        }
                        .lazy-loader-cover {
                            background:rgba(0, 0, 0, 0.3);
                            background-image: url(../public/img/other/scanlines.png);
                            opacity:0.4;
                            height:100%;
                            width: 100%;
                            object-fit: cover;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            z-index: 2;
                        }
                        .content {
                            display:flex;
                            align-items:center;
                            flex-direction: column;
                            justify-content:center;
                            z-index:3;
                            * {z-index:3;}
                            h1 {
                                color:$white;
                                text-shadow:0 0 5px #333a;
                                font-size:4rem;
                                text-align:center;
                                line-height:1em;
                                margin-bottom:0.5rem;
                            }
                            h2 {
                                color:rgba($white, 0.85);
                                text-shadow:0 0 5px #333a;
                                font-size:1.7rem;
                                font-style:italic;
                                margin:0 0 1rem 0;
                                text-align:center;
                                line-height:1em;
                                border-bottom:0;
                            }
                        }
                    }
                    &.about-rentals-now {
                        background-image:url(../public/img/logo/rentalsnow-disc.svg);
                        background-position: -10%;
                        background-repeat:no-repeat;
                        background-size:10%;
                        .about-line-images {
                            max-width:40rem;
                            width:100%;
                            display:flex;
                            flex-direction:row;
                            justify-content:space-evenly;
                            img {
                                width:172px;
                                height:auto;
                                padding:0 1rem;
                            }
                        }
                        p {
                            color:rgba($white, 0.8);
                            max-width:40rem;
                            text-align:left;
                        }
                    }
                    &.products-list {                        
                        > div {
                            display:flex;
                            align-items:center;
                            justify-content: space-evenly;
                            flex-direction:row;                         
                            margin:1rem 0;
                            &.products-list-container {
                                flex-wrap:wrap;
                                margin:auto;
                                max-width:60rem;
                                &:hover a:not(:hover) {
                                    opacity:0.8;  
                                }
                                .product-listing {
                                    padding:0;
                                    a {
                                        display: flex;
                                        flex-direction:column;
                                        justify-content: space-between;
                                        align-items:center;
                                        font-size:0.5rem;
                                        padding:2rem;
                                        width:20rem;
                                        height:20rem;
                                        transition:0.3s ease;
                                        &:hover {
                                            opacity:1;

                                        }
                                        .product-listing-image {
                                            height:11rem;
                                            display:flex;
                                            flex-direction:column;
                                            align-items:center;
                                            justify-content:center;
                                            img {
                                                width:10rem;
                                                transition:0.2s ease-in-out;
                                            }
                                        }
                                        .product-listing-description {
                                            display:flex;
                                            flex-direction:column;
                                            text-align:center;
                                            h3 {
                                                font-size:1.45rem;
                                                color:black;
                                                font-weight:900;
                                            }
                                            h4 {
                                                font-size:0.8rem;
                                                font-style:italic;
                                                color:$rn-navy-blue;
                                            }
                                        }
                                        .product-listing-price {
                                            h5 {
                                                font-size:0.75rem;
                                                text-align:center;
                                            }
                                            h3 {
                                                font-size:2rem;
                                                color:black;
                                                font-weight:900;
                                                sup {
                                                    font-size:0.75rem;
                                                    font-weight: 400;
                                                }
                                            }
                                        }
                                    }
                                }
                            }                            
                        }
                    }
                    &.why-rentals-now {
                        
                        ul {
                            margin:1rem auto;
                            width:90%;
                            max-width:40rem;
                            text-align:left;
                            li {
                                margin-bottom:2rem;
                                color:rgba($white, 0.8);
                                &:last-of-type {
                                    margin-bottom:0;
                                }
                                h3 {
                                    color:$white;
                                    font-style:italic;
                                    margin-bottom:0.25rem;
                                }
                            }
                        }
                    }
                    &.contact-us {
                        .contact-form {
                            width:100%;
                            max-width:40rem;
                        }
                    }
                }
            }
            &.products {
                h1 {
                    margin-bottom:1rem;
                }
                > div:hover a:not(:hover) {
                        opacity:0.8;  
                }
                .product-listing {
                    
                    a {
                        display:grid;
                        grid-template-areas: 
                            "A"
                            "B"
                            "C";
                        @media screen and (min-width: 576px) {
                            grid-template-areas: 
                            "A B"
                            "A C";
                        }
                        @media screen and (min-width: 768px) {
                            grid-template-areas: 
                            "A B C"
                        }
                        // justify-content:flex-start;
                        // align-items:center;
                        padding:2rem 0;
                        border-bottom:1px dotted $rn-navy-blue;
                        transition:0.3s ease;
                        &:hover {
                            opacity:1;
                        }
                        .product-listing-image {
                            grid-area: A;
                            display:flex;
                            align-items:center;
                            justify-content: center;
                            img {
                                width:10rem;
                            }
                        }
                        .product-listing-description {
                            grid-area: B;
                            width:100%;
                            text-align:center;
                            padding:0 0.5rem;
                            display:flex;
                            align-items:center;
                            justify-content: center;
                            flex-direction:column;
                            h1 {
                                margin:0;
                                font-size:1.5rem;
                            }
                            h2 {
                                margin:1rem 0 1rem;
                                font-size:0.9rem;
                            }
                            h3 {
                                margin:0;
                                font-size:0.8rem;
                            }
                            @media screen and (min-width: 576px) {
                                h1 {font-size:2rem;}
                                h2 {font-size:1rem;}
                                h3 {font-size:0.8rem;}
                            }
                            @media screen and (min-width: 768px) {
                                text-align:left;
                                align-items:flex-start;
                                h1 {font-size:2.5rem}
                                h2 {font-size:1.2rem;}
                                h3 {font-size:1.5rem;}
                            }

                            // width:calc(100% - 20rem);
                            // text-align:left;
                            
                            
                        }
                        .product-listing-price {
                            grid-area: C;
                            text-align:center;
                            display:flex;
                            align-items:center;
                            justify-content: center;
                            flex-direction:column;
                            h1 {
                                font-size:2.5rem;
                                margin:0;
                                line-height: 0.75em;
                                sup {
                                    font-size:0.75rem;
                                }
                            }
                            h2 {
                                font-size:0.8rem;
                                margin:0;
                                color:$gray;
                                font-style:italic;
                            }
                        }
                    }
                    &:last-of-type {
                        a {border-bottom:none;}
                    }
                }

            }
            &.product-view {
                h1 {margin:0;}
                h2 {margin:0;}
                h3 {margin:0;}
                h4 {margin:0;}
                h5 {
                    color:$rn-navy-blue;
                    font-size:1.2rem;
                }
                sup {font-size:0.75rem;}
                img {
                    width:10rem;
                }
                p {
                    margin:1rem 0;
                }
                ul {
                    li {
                        font-weight:400;
                        margin:0.5rem 0;

                    }
                }
                > div {
                    padding:3rem 0;
                    border-bottom:1px dotted $gray;
                    &:last-of-type {
                        border-bottom:none;
                    }
                }
                .product-view-layout {
                    border-bottom:1px dotted $gray;
                    display: grid;
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    grid-template-areas:
                        "A A"
                        "B B"
                        "C C"
                        "D D";
                    @media screen and (min-width:768px) {
                        grid-template-areas:
                        "B A"
                        "B C"
                        "D D"
                        "D D";
                    }
                    .product-view-details {
                        grid-area: A;
                    }
                    .product-view-img {
                        grid-area: B;
                    }
                    .product-view-price {
                        grid-area: C;
                    }
                    .product-view-desc-l {
                        grid-area: D;
                        grid-column: span 2;
                    }
                }
                .product-view-details {
                    h1 {
                        font-size:2rem;
                    }
                    h2 {
                        cursor:initial;
                        font-size:1.2rem;
                    }
                    h3 {
                        font-size:0.8rem;
                        color:$gray;}
                    h4 {
                        cursor:initial;
                    }
                    @media screen and (min-width:576px) {
                        h1 {
                            font-size:3rem;
                        }
                        h2 {
                            cursor:initial;
                            font-size:1.5rem;
                        }
                        h3 {
                            font-size:0.8rem;
                            color:$gray;
                        }
                        h4 {
                            cursor:initial;
                        }
                    }
                    margin:1rem 0;
                }
                .product-view-img {
                    display:flex;
                    justify-content:flex-start;
                    align-items:flex-start;
                    @media screen and (min-width:768px) {
                        justify-content:center;
                        align-items:center;
                    }
                    img {
                        width:100%;
                        max-width:20rem;
                    }
                }
                .product-view-price {
                    margin:1rem 0;
                    h2 {
                        font-size: 1.8rem;
                        sup {
                            font-size:0.75rem;
                            font-weight:400;
                        }
                    }
                    h4 {
                        font-size:0.8rem;
                        color:$gray;
                        margin-bottom:1rem;
                    }
                    @media screen and (min-width:576px) {
                        h2 {
                            font-size: 2.5rem;
                        }
                        h4 {
                            font-size:0.8rem;
                        }
                    }
                    .contact-link {
                        cursor:pointer;
                    }

                    a.wavecom-link {
                        display:flex;
                        margin:2rem 0 0.5rem;
                        @media screen and (min-width:768px) {
                            margin:1rem 0 0.5rem;  
                        }
                        color:$gray;
                        transition:0.2s ease;
                        font-size:0.8rem;
                        &:hover {
                            color:$rn-navy-blue;
                        }
                    }

                }
                .product-view-desc-l {
                    p {
                        margin-bottom:1rem;
                        &:last-of-type{margin:0;}
                    }
                    margin:1rem 0 3rem;
                }
                .product-view-features {
                    h5 {
                        color:$rn-navy-blue;
                        font-size:1.2rem;
                    }
                }
                .product-view-downloads {
                    h5 {
                        color:$rn-navy-blue;
                        font-size:1.2rem;
                    }
                    a {
                        display:flex;
                        margin:1rem 0;
                        color:$rn-navy-blue;
                        transition:0.2s ease;
                        &:hover {
                            color:rgba($rn-navy-blue, 0.75);
                        }
                    }
                }
                .product-view-contact-form {
                    padding:6rem 0 3rem;
                }
            }
            &.policy {
                max-width:60rem;
                margin:auto;
                h3 {
                    color:$rn-navy-blue;
                    border-bottom: 0.25rem solid $rn-orange;
                    display:inline;
                }
                strong {
                    font-weight:700;
                }
                ul {
                    li {
                        margin-bottom:0.75rem;
                    }
                }
            }
            &.error-page {
                background:$rn-navy-blue;
                max-width:unset;
                display:flex;
                align-items:center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    color:$rn-orange;
                }
                p {
                    color:rgba(white, 80%);
                }
                a {
                    color:rgba(white, 80%);
                    transition:0.2s ease;
                    &:hover {
                        color: rgba($sky-blue, 75%);
                    }
                }
            }

        }

        footer.footer {
            padding:2rem 5% 2rem;
            background-color: $rn-navy-blue;
            color:$white;
            section.footer-top {
                margin-top:4rem;
                display:flex;
                flex-direction:column;
                @media screen and (min-width: 576px) {
                    flex-direction:row;
                    align-items:start;
                    justify-content:space-between;
                    flex-wrap:wrap;
                }
                
                .footer-top-quarter {
                    width:100%;
                    margin-bottom:2rem;
                    &:last-of-type {
                        margin-bottom:0;
                    }
                    @media screen and (min-width: 576px) {
                        width:50%;
                    }
                    
                    @media screen and (min-width: 768px) {
                        width:25%;
                    }
                    padding:0 0.5rem;
                    .footer-logo-container {
                        img {
                            max-height:100px;
                            @media screen and (min-width: 576px) {
                                width:80%;
                            }
                        }
                    }
                    nav {
                        h4 {font-weight:bold;font-size:1.2rem}
                        ul {
                            li {
                                margin:1rem 0;
                                a {
                                    color: rgba($white, 75%);
                                    transition:0.2s ease;
                                    font-size:0.8rem;
                                    &:hover {                                        
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
            section.footer-bottom{
                margin-top:8rem;
                padding:0 0.5rem;
                ul {
                    display:grid;
                    grid-template-areas:
                        "A B D E"
                        "C C C C";
                    font-size:0.8rem;
                    text-align:center;
                    @media screen and (min-width: 576px) {
                        font-size: 0.8rem;
                        grid-template-areas: 
                        "A B C D E"
                    }
                    @media screen and (min-width: 768px) {
                        font-size: 0.9rem;
                    }
                    li {
                        margin-bottom:1rem;
                        color: rgba($white, 75%);
                        a {
                            
                            transition:0.2s ease;
                            &:hover {
                                
                                color: $white;
                            }
                        }
                        &#footer-bottom-wavecom {
                            grid-area: A;
                            
                        }
                        &#footer-bottom-winpats {
                            grid-area: B;
                        }
                        &#footer-bottom-copyright {
                            grid-area: C;
                            font-weight:bold;
                        }
                        &#footer-bottom-calibrations {
                            grid-area: D;
                        }
                        &#footer-bottom-rentals {
                            grid-area: E;
                        }
                    }
                }
            }
        }
    }
    //components
    .button-link {
        display:flex;
        align-items:center;
        justify-content: center;
        padding:1rem 0.5rem;
        background:$rn-orange;
        color:$white;
        max-width:12rem;
        width:100%;
        margin:1rem 0;
        transition:0.2s ease;
        font-weight:bold;
        &:hover {
            background:rgba($rn-orange, 0.85);
        }
    }

    form.contact-form {
        margin-top:1rem;
        fieldset {
            display:flex;
            flex-direction:column;
            margin-bottom:0.5rem;
            label {
                font-size:0.75rem;
                color:$rn-navy-blue;
            }
            // input[type="text"], input[type="email"], input[type="tel"], {
            input, textarea, select {
                padding:0.35rem;
                line-height:1em;
                outline:1px solid #cdcdcd;
                font-size:0.9rem;

            }
            input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus {
                outline:1px solid $rn-orange;
            }
            textarea {
                resize:vertical;
                min-height:5rem;
            }
            .error-placeholder {
                min-height:1rem;
                margin:0;
                color:$rn-orange;
                font-weight:700;
                font-style:italic;
                line-height:1.1em;
                font-size:0.75rem;
                padding-top:0.1rem;
            }
        }
        .button-link {
            margin:1rem auto;
        }
    }
}
